body {
  max-width: 95%;
  margin: 0px auto;
}

body h1, body h2, body h3 {
  text-transform: uppercase;
  word-wrap: none;
  color: #000;
}

a:link {
  text-decoration: none;
}

#jumbotron {
  max-height: 768px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
}

@media (max-width: 576px) {
  #jumbotron .carousel-indicators {
    visibility: hidden;
  }
}

#jumbotron img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

#jumbotron #navbar {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: 3;
  width: 100%;
  font-weight: bold;
}

#jumbotron #navbar .navbar-brand {
  color: #db5252;
  font-size: 48px;
}

#jumbotron #navbar .navbar-brand #whitespan {
  color: white;
}

#jumbotron #navbar .navbar-collapse {
  background-color: #554b4b;
  padding: 0px 15px;
  z-index: 4;
}

@media (min-width: 576px) {
  #jumbotron #navbar .navbar-collapse {
    background-color: rgba(0, 0, 0, 0);
  }
}

#jumbotron #navbar .nav-link {
  color: #db5252;
}

#jumbotron #navbar #navbarcontact {
  color: white;
}

#jumbotron #navbar #navbarsearch {
  background-color: rgba(46, 39, 39, 0.705);
  border-radius: 20px;
  max-width: 250px;
}

#jumbotron #navbar #navbarsearch .search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  line-height: 40px;
  padding: 0px;
  caret-color: #db5252;
}

#jumbotron #navbar #navbarsearch .search_input::-webkit-input-placeholder {
  color: white;
}

#jumbotron #navbar #navbarsearch .search_input:-ms-input-placeholder {
  color: white;
}

#jumbotron #navbar #navbarsearch .search_input::-ms-input-placeholder {
  color: white;
}

#jumbotron #navbar #navbarsearch .search_input::placeholder {
  color: white;
}

#jumbotron #navbar #navbarsearch .search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

@media (max-width: 576px) {
  #jumbotron #navbar #navbarsearch .search_icon {
    visibility: hidden;
  }
}

#jumbobottomnavbar {
  background-color: #db5252;
}

#highlightedMovies #highlightCard .card-title {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

#highlightedMovies #highlightCard .card-texte {
  line-height: 30px;
}

.facebook {
  background-color: #3b5998;
  top: 2.7rem;
}

.twitter {
  background-color: #4099FF;
}

.google {
  background-color: #DD4B39;
  top: 8.1rem;
}

.youtube {
  background-color: #E52D27;
  top: 5.4rem;
}

.sidebar {
  position: fixed;
  top: 10rem;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar a {
  position: absolute;
  height: 2.5rem;
  width: 250px;
  left: -220px;
  margin: 2px 0 2px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  border-radius: 0 10em 10em 0;
  cursor: pointer;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.sidebar a:hover {
  left: -50px;
}

.sidebar a i {
  margin-right: 0.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2rem;
  height: 2rem;
  color: black;
  border-radius: 50%;
  background-color: white;
}

.sidebar a p {
  margin-top: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  display: flex;
}

footer {
  background: black;
}

footer #jonCena {
  color: #F94342;
}

footer #yolo .footerTitles {
  color: white;
}

footer #hanSolo {
  font-size: 2em;
}

footer #hanSolo #ginger {
  color: #F94342;
}

.linebreak {
  background-color: #fff;
  height: 0.1px;
}

#footerInputGroup {
  margin-bottom: 1rem;
  color: blue;
}

#footerButtons button {
  color: #fff;
  background: rgba(132, 129, 129, 0.197);
  border: none;
  margin-bottom: 5px;
}

h3 {
  color: #fff;
}

#footerFun {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

#footerFun a {
  color: white;
  margin-bottom: 0.5rem;
}

#footerFun a i {
  width: 2rem;
  height: 2rem;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */