 #sidebar {
    z-index: 3;
    width: 3rem;
    position: fixed;
    top: 35vh;
    text-align: center;
    margin-left: 2rem;
    a {
        text-decoration: none;
        display: flex;
        justify-content: flex-end;
        line-height: 2;
      }
      p {
        color: white;
        position: relative;
        display:flex;
        justify-content: end;
        align-items: center;
        left: -4rem;
        font-family: 'Lato';
        i {
            left: 3rem;
            top:0.5em;
            position: relative;
            color: black;
            background: white;
            padding:1.3em;
            border-radius: 50%;
          }
      }
  }

  // *** JUMBOTRON ***


  #jumbotron{
    max-height: 768px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
    position: relative;

    .carousel-indicators{
      @media (max-width: 576px) { visibility: hidden; }
    }

    img{
      object-fit: cover;
      width: 100%;
    }

    #navbar{
      background-color: rgba(0, 0, 0, 0);
      position: absolute;
      z-index: 3;
      width: 100%;
      font-weight: bold;
      .navbar-brand{
        color: rgb(219, 82, 82);
        font-size: 48px;

        #whitespan{
          color: white;
        }
      }
      .navbar-collapse{
        background-color: rgb(85, 75, 75);
        @media (min-width: 576px) { background-color: rgba(0, 0, 0, 0); }
        padding: 0px 15px;
        z-index: 4;
      }
      .nav-link{
        color:  rgb(219, 82, 82);
      }
      #navbarcontact{
        color: white;
      }
      #navbarsearch{
        background-color: rgba(46, 39, 39, 0.705);
        border-radius: 20px;
        max-width: 250px;
        .search_input{
          color: white;
          border: 0;
          outline: 0;
          background: none;
          line-height: 40px;
          padding: 0px;
          caret-color:rgb(219, 82, 82);
          
          &::placeholder{
            color: white;
          }
        }
        .search_icon{
          height: 40px;
          width: 40px;
          float: right;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          color:white;
          text-decoration:none;
          @media (max-width: 576px) { visibility: hidden; }
          }
      }
        
    }
  }

  #jumbobottomnavbar{
    background-color: rgb(219, 82, 82);
  }

  //HightlightedMovies

  #highlightedMovies{

    #highlightCard{

      .card-title{
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
      }
      .card-texte{
        line-height: 30px;
      }
    }
  }

  // *** ANIMATION ***

  .social {
    margin-left: -17rem;
    width: 20rem;
    padding: 0;
    display: inline-table;
    height: 0px;
    transition-property: margin-left;
    border-radius: 0 10em 10em 0;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover {
    margin-left: -30px;
    width: 15em;
  }
  } 
  
// *** Social Colors ***

  .facebook {
    background-color: #3b5998;
  }
  
  .twitter {
    background-color: #4099FF;
  }
  
  .google {
    background-color: #DD4B39;
  }
  
  .youtube {
    background-color: #E52D27;
  }