$primary:#F94342;

/// *** BODY *** 
 
 body {
   max-width: 95%;
   margin: 0px auto;
   h1, h2, h3 {
      text-transform: uppercase;
      word-wrap: none;
   }
 }

a:link {
  text-decoration: none;
}

// *** SIDEBAR ***

  .facebook {
    background-color: #3b5998;
    top: 2.7rem;
  }
  
  .twitter {
    background-color: #4099FF;
  }
  
  .google {
    background-color: #DD4B39;
    top: 8.1rem;
  }
  
  .youtube {
    background-color: #E52D27;
    top:5.4rem;
  }

.sidebar {
  position: fixed;
  top: 10rem;
  z-index: 3;
  display:flex;
  flex-direction: column;
  
  a {
    position: absolute;
    // color: red;
    height: 2.5rem;
    width:25vw;
    left: -22vw;
    margin: 2px 0 2px 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    border-radius: 0 10em 10em 0;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    &:hover {
      left:-8vw;
    }
    i {
      margin-right: 0.4em;
      display:flex;
      justify-content: center;
      align-items: center;
      width:2rem;
      height: 2rem;
      color: black;
      border-radius: 50%;
      background-color: white;
    }
    p {
      margin-top:0.8rem;
      display: flex;
      align-items: center;
      color: white;
      display: flex;
    }
  }
}
.envelope {
  position: inline-block;
  display: flex;
  flex-direction: row;
}
